.navbar {
  background-color: black;
}

.title {
  color: white;
}

.btn:focus {
  box-shadow: none;
}

img {
  cursor: pointer;
  height: 3rem;
  width: 3rem;
  padding: 0.3rem;
  object-fit: contain;
}

.selected {
  border: 3px solid #fae100;
  border-radius: 5px;
}
